* {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}
.hand{
    position: fixed;
    width: 100%;
    height: 134px;
    z-index: 1;
}         
.nav {
    float: left;
    height: 42px;
    width: 700px;
    margin-top: 30px;
    margin-left: 93px;

}
.nav ul li {
    float: left;
}
.nav ul li a {
    display: block;
    height: 42px;
    margin-right: 10px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 22px;
    font-family:"Helvetica";
    color: #6e6e6e;
    text-align: left;
    line-height: 42px;
    font-weight: lighter;
    text-decoration: none;
}

.homelogo{
    position: fixed;
    width: 960px;
    height: 113px;
    left:0;
    right:0;
    margin: 59px auto;
    text-align: center;
    z-index: 1;  
}
.onelogo{
    font-family:"arial black", "arial-w10 black", sans-serif;
    font-size: 80px;
    text-align: center;
    line-height:normal;
    color: #212121;
    cursor: default;
}

.kong{
    width: 100%;
     height: 134px;
}
.onecontent{
     display: flex;
     width: 100%;
     height: 778px;
     justify-content: center;
     align-items:center;

}

.onecontent .one{
    width: 779px;
    height: 584px;
    position: relative;
    
}

.one-img{
    width: 100%;
    transition: all 0.4s;
}

.one-text {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #fff;
    opacity: 0;
    transition: all 0.5s;
}

.one-text p {
    font-size: 30px;
    font-weight: 600;
    cursor: default;
}


.onecontent .two{
    width: 778px;
    height: 778px;
    position: relative;
    overflow: hidden;

}

.two-img{
    width: 100%;
    transition: all 0.8s;
}

.two-text {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #fff;
    opacity: 0;
    transition: opacity 0.6s;
}

.two-text p {
    font-size: 30px;
    font-weight: 600;
    cursor: default;
}

.twocontent{
    display: flex;
    width: 100%;
    height: 778px;
    justify-content: center;
    align-items:center;
    margin-top: 150px;
}

.twocontent .three{
    width: 729px; 
    height: 778px; 
    position: relative;

}

.twocontent .three img{
    height: 100%;
    transition: all 0.4s;
}

.three-text {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #fff;
    opacity: 0;
    transition: all 0.5s;
}

.three-text p {
    font-size: 30px;
    font-weight: 600;
    cursor: default;
}





.twocontent .four{
    width: 778px; 
    height: 508px; 
    position: relative;

}

.four-img{
    height: 100%;
    transition: all 0.4s;
}
.four-text {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #fff;
    opacity: 0;
    transition: all 0.5s;
}

.four-text p {
    font-size: 30px;
    font-weight: 600;
    cursor: default;
}




.threecontent{
    display: flex;
    width: 100%;
    height: 778px;
    justify-content: center;
    align-items:center;
    margin-top: 150px;
}

.threecontent .five{
    width: 779px; 
    height: 468px; 
    position: relative;

}
.five-img{
    height: 100%;
    transition: all 0.4s;
}
.five-text {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #fff;
    opacity: 0;
    transition: all 0.5s;
}

.five-text p {
    font-size: 30px;
    font-weight: 600;
    cursor: default;
}






.threecontent .six{
   height: 779px;
   width: 518px;
   position: relative;

}

.six-img{
    height: 100%;
    transition: all 0.4s;
}

.six-text {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #fff;
    opacity: 0;
    transition: all 0.5s;
}

.six-text p {
    font-size: 30px;
    font-weight: 600;
    cursor: default;
}





.fourcontent{
    display: flex;
    width: 100%;
    height: 778px;
    justify-content: center;
    align-items:center;
    margin-top: 150px;
}

.fourcontent .seven{
    height: 779px;
    width: 518px;
    position: relative;

 }

 .seven-img{
     height: 100%;
     transition: all 0.4s;
 }
 .seven-text {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #fff;
    opacity: 0;
    transition: all 0.5s;
}

.seven-text p {
    font-size: 30px;
    font-weight: 600;
    cursor: default;
}



 .fourcontent .eight{
    height: 779px;
    width: 518px;
    position: relative;
 
 }
 .eight-img{
     height: 100%;
     transition: all 0.4s;
 }

 .eight-text {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #fff;
    opacity: 0;
    transition: all 0.5s;
}

.eight-text p {
    font-size: 30px;
    font-weight: 600;
    cursor: default;
}



.inslogo{
    position: fixed;
    width: 24px;
    height: 24px;
    bottom: 70px;
    right:100px;
    z-index: 1;  
}
.bilibililogo{
    position: fixed;
    width: 24px;
    height: 24px;
    bottom: 70px;
    right:136px;
    z-index: 1;  
}









.end{
    display: flex;
    width: 100%;
    height: 152px;
    text-align: center;
}
.end p{
    font-size: 14px;
    text-align: center;
    margin: auto;
}

#playv {
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.9);
    position: fixed;
    top:0;
    left: 0;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 4;
}
#fullvideo{
    width: 200%;
    max-width: 883px;
}
#exit{
    position: absolute;
    top: 5%;
    right: 5%;
    font-size: 40px;
    color: #fff;
    cursor: pointer;
}

#playv2 {
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.9);
    position: fixed;
    top:0;
    left: 0;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 4;
}
#fullvideo2{
    width: 200%;
    max-width: 1500px;
}
#exit2{
    position: absolute;
    top: 5%;
    right: 5%;
    font-size: 40px;
    color: #fff;
    cursor: pointer;
}
